In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np

In [2]:
response = requests.get('https://www.basketball-reference.com/friv/continuity.html').content
soup_doc = BeautifulSoup(response, 'html.parser')

In [3]:
table = soup_doc.table

In [4]:
team_names = table.thead.find_all('th')[1:]

In [5]:
team_names[0].text

'ATL'

In [6]:
seasons = table.find_all('tr')[1:]

In [7]:
seasons[15].find_all('td')[29].text

'61%'

In [8]:
seasons[0].text

'2017-1851%41%73%51%53%74%80%59%81%59%39%36%41%56%79%77%53%51%60%37%52%62%61%64%93%44%87%84%51%82%'

In [9]:
seasons[15].find_all('td')[0].text

'74%'

In [10]:
table.find_all('tr')[16].find_all('td')[29].text

'61%'

In [34]:
seasons[0].find_all('td')[0]['data-tip'][8:].split('<b>')

['Record:</b> 24-58<br>',
 'Head Coach:</b><br>Mike Budenholzer<br><br>',
 "Returning Players:</b><br>Taurean Prince - 2464 MP<br>Dennis Schroder - 2078 MP<br>Kent Bazemore - 1789 MP<br>Ersan Ilyasova - 1175 MP<br>Mike Muscala - 1060 MP<br>Malcolm Delaney - 1014 MP<br>DeAndre' Bembry - 455 MP<br><br>",
 'New Players:</b><br>John Collins - 1785 MP<br>Dewayne Dedmon - 1542 MP<br>Marco Belinelli - 1210 MP<br>Isaiah Taylor - 1167 MP<br>Tyler Dorsey - 974 MP<br>Miles Plumlee - 918 MP<br>Luke Babbitt - 570 MP<br>Tyler Cavanaugh - 518 MP<br>Damion Lee - 404 MP<br>Josh Magette - 216 MP<br>Andrew White - 209 MP<br>Jaylen Morris - 98 MP<br>Antonius Cleveland - 42 MP<br>Nicolas Brussino - 10 MP<br>Jeremy Evans - 5 MP</pre>']

In [19]:
table.find_all('tr')[16].text[:4]

'2002'

In [63]:
rows = []

for season in seasons:
    continuity_dict = {}
    continuity_dict['season'] = season.text[:4]
    continuity_dict['ATL'] = season.find_all('td')[0].text
    continuity_dict['BOS'] = season.find_all('td')[1].text
    continuity_dict['CHA'] = season.find_all('td')[2].text
    continuity_dict['CHI'] = season.find_all('td')[3].text
    continuity_dict['CLE'] = season.find_all('td')[4].text
    continuity_dict['DAL'] = season.find_all('td')[5].text
    continuity_dict['DEN'] = season.find_all('td')[6].text
    continuity_dict['DET'] = season.find_all('td')[7].text
    continuity_dict['GSW'] = season.find_all('td')[8].text
    continuity_dict['HOU'] = season.find_all('td')[9].text
    continuity_dict['IND'] = season.find_all('td')[10].text
    continuity_dict['LAC'] = season.find_all('td')[11].text
    continuity_dict['LAL'] = season.find_all('td')[12].text
    continuity_dict['MEM'] = season.find_all('td')[13].text
    continuity_dict['MIA'] = season.find_all('td')[14].text
    continuity_dict['MIL'] = season.find_all('td')[15].text
    continuity_dict['MIN'] = season.find_all('td')[16].text
    continuity_dict['NJN'] = season.find_all('td')[17].text
    continuity_dict['NOH'] = season.find_all('td')[18].text
    continuity_dict['NYK'] = season.find_all('td')[19].text
    continuity_dict['OKC'] = season.find_all('td')[20].text
    continuity_dict['ORL'] = season.find_all('td')[21].text
    continuity_dict['PHI'] = season.find_all('td')[22].text
    continuity_dict['PHO'] = season.find_all('td')[23].text
    continuity_dict['POR'] = season.find_all('td')[24].text
    continuity_dict['SAC'] = season.find_all('td')[25].text
    continuity_dict['SAS'] = season.find_all('td')[26].text
    continuity_dict['TOR'] = season.find_all('td')[27].text
    continuity_dict['UTA'] = season.find_all('td')[28].text
    continuity_dict['WAS'] = season.find_all('td')[29].text
    rows.append(continuity_dict)
    
df = pd.DataFrame(rows)

In [66]:
df = df.set_index('season')

In [67]:
df.head()

,ATL,BOS,CHA,CHI,CLE,DAL,DEN,DET,GSW,HOU,...,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
season,,,,,,,,,,,,,,,,,,,,,
2017,51%,41%,73%,51%,53%,74%,80%,59%,81%,59%,...,52%,62%,61%,64%,93%,44%,87%,84%,51%,82%
2016,68%,79%,80%,46%,83%,50%,71%,75%,67%,65%,...,53%,56%,50%,68%,85%,47%,69%,84%,70%,77%
2015,87%,85%,51%,90%,84%,55%,70%,50%,95%,85%,...,93%,76%,63%,53%,47%,52%,69%,62%,77%,75%
2014,88%,50%,61%,64%,39%,38%,62%,57%,80%,48%,...,66%,52%,29%,81%,80%,70%,98%,82%,61%,72%
2013,53%,59%,64%,69%,60%,48%,62%,59%,71%,77%,...,89%,81%,37%,46%,65%,53%,83%,68%,62%,77%

In [75]:
df.replace({'%': ''}, regex=True, inplace=True)

In [76]:
df.head()

,ATL,BOS,CHA,CHI,CLE,DAL,DEN,DET,GSW,HOU,...,OKC,ORL,PHI,PHO,POR,SAC,SAS,TOR,UTA,WAS
season,,,,,,,,,,,,,,,,,,,,,
2017,51,41,73,51,53,74,80,59,81,59,...,52,62,61,64,93,44,87,84,51,82
2016,68,79,80,46,83,50,71,75,67,65,...,53,56,50,68,85,47,69,84,70,77
2015,87,85,51,90,84,55,70,50,95,85,...,93,76,63,53,47,52,69,62,77,75
2014,88,50,61,64,39,38,62,57,80,48,...,66,52,29,81,80,70,98,82,61,72
2013,53,59,64,69,60,48,62,59,71,77,...,89,81,37,46,65,53,83,68,62,77

In [77]:
df.to_csv('team-minutes-continuity.csv')

In [94]:
df.loc['2002']['CHA']

''

In [97]:
df.replace({'': np.nan}, regex=True, inplace=True)

In [121]:
df.dropna(axis=0, how='any').transpose().mean(axis=1).sort_values(ascending=False)

POR    7.219599e+24
SAS    6.745923e+24
TOR    6.526637e+24
WAS    6.367506e+24
GSW    6.283045e+24
DEN    6.209005e+24
MIA    6.115889e+24
MIL    5.959844e+24
DAL    5.731195e+24
CHA    5.677320e+24
PHO    4.975799e+24
ORL    4.812896e+24
PHI    4.731256e+24
NOH    4.652921e+24
DET    4.596543e+24
HOU    4.589119e+24
MEM    4.365891e+24
MIN    4.142057e+24
CLE    4.141418e+24
OKC    4.041490e+24
UTA    3.977520e+24
ATL    3.976061e+24
CHI    3.959159e+24
NJN    3.951982e+24
SAC    3.421175e+24
BOS    3.215273e+24
LAL    3.201896e+24
IND    3.048175e+24
NYK    2.874942e+24
LAC    2.831245e+24
dtype: float64